@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Philosopher&family=Poppins:wght@300&family=Reenie+Beanie&display=swap");

:root {
  --th-color: #0035599d;
  --td-color: #0ba76ba4;
  --even-color: #303539a0;
  --odd-color: #697278ac;
  --secondary-color: #eefbeb;
}

body {
  background-image: url(../src/bilder/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.book-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

.book-table th,
.book-table td {
  border: 1px solid #ebf0ef;
  padding: 16px;
  text-align: left;
  color: white;
}

.book-table th {
  background-color: var(--th-color);
}

.even-row {
  background-color: var(--even-color);
}

.odd-row {
  background-color: var(--odd-color);
}

.delete-icon {
  color: var(--th-color);
}
